<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <separateadminuser>
            <tables>
                <table_name>sales_invoice_grid, url_rewrite, search_synonyms</table_name>
            </tables>
        </separateadminuser>
    </default>
</config>
