<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="separateadminuser" translate="label" sortOrder="1250">
            <label>Separate Admin User</label>
        </tab>
        <section id="separateadminuser" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Config for Separate Admin User</label>
            <tab>separateadminuser</tab>
            <resource>Dulv_SeparateAdminUser::config</resource>
            <group id="tables" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Limitation for the collection</label>
                <field id="table_name" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Table name</label>
                    <comment>use comma for multiple tables</comment>
                </field>
            </group>
        </section>
    </system>
</config>
